/* Star Icon Styling */
.star-icon {
  margin-right: 5px;
}

.filled-star {
  color: orange; /* Set the filled star color to orange */
}

.empty-star {
  color: #ccc; /* Empty stars will be light gray */
}


.recipe-card {
  display: flex; /* Use Flexbox to layout items horizontally */
  align-items: center; /* Vertically center items */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  overflow: hidden;
  text-decoration: none; /* Ensure no underline */
  width: 300px; /* Set a fixed width for the card */
}



.recipe-card:hover {
  background-color: #f9f9f9;
  cursor: pointer; /* Show pointer cursor to indicate clickability */
}

.recipe-card img {
  width: 100px; /* Set a fixed width for the image */
  height: 100px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure image covers the area without distortion */
  border-radius: 8px;
  margin-right: 15px; /* Spacing between image and text */
}

.recipe-card .content {
  display: flex;
  flex-direction: column; /* Arrange text content vertically */
  justify-content: center; /* Center content vertically */
  flex: 1; /* Allow content to take up remaining space */
}

.recipe-card h2 {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}



.recipe-card p {
  font-size: 0.9em;
  color: #555;
}

.recipe-card .recipe-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.recipe-card .recipe-info {
  margin-top: 5px;
}

.recipe-card .recipe-info span {
  display: block;
  margin-bottom: 3px;
}



.recipe-card .recipe-info .calories, .recipe-card .recipe-info .protein,
.recipe-card .recipe-info .fat, .recipe-card .recipe-info .sodium {
  color: #3498db; /* Blue color for nutritional values */
}

/* Ensure no underline for links within the card */
.recipe-card a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Ensure link text color matches the card text color */
}

